@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@400;600;700&display=swap');
*{
    font-family: 'Space Grotesk', sans-serif;
}

.search-button{
    color: white;
    background-color: rgb(77, 79, 192);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}
.search-button:hover{
background-color: rgb(98, 100, 211);
}
.search-button:active{
    background-color: rgb(129, 130, 187);
}
.link-img{
    /* border: 1px solid rgb(77, 79, 192); */
    text-decoration: none;
}
.More-Image{
    background-color: rgb(77, 79, 192);
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
}
.More-Image:hover{
    background-color: rgb(98, 100, 211);
}
.More-Image:active{
        background-color: rgb(129, 130, 187);
}